<%= form_with model: [ @article, @article.comments.build ] do |form| %>
    <div class='field'>
        <strong><%= form.label :commenter %></strong>
        <p><%= form.text_field :commenter %></p>
    </div>

    <div class='field'>
        <strong><%= form.label :body %></strong>
        <p><%= form.text_area :body %></p>
    </div>

    <%= form.submit class:'btn change' %>

<% end %>